.nav.group {
    // width: 100%;
    background-color: var(--cwctma-theme-nav-group-background);
    font-size: .65rem;

    & .nav-item .active {
        background-color: var(--cwctma-theme-nav-group-active) !important;
        padding: .25rem .25rem .125rem .25rem;
        margin: 0 .5rem 0.25rem .5rem;
        border-radius: calc(var(--cwctma-theme-border-radius) / 2);
    }

    & .nav-item > * {
        border-radius: 0;
        
        &:hover {
            background-color: var(--cwctma-theme-nav-group-hover);
        }
    }

}
@media (max-width: 40rem) {
    .nav.group {
        display: none;
    }
}
