@use '../base/colors';
:root {
    --cwctma-color-light-100: hsl(330, 0%, 99%);
    --cwctma-color-light-200: hsl(330, 0%, 96%);
    --cwctma-color-light-300: hsl(330, 0%, 94%);
    --cwctma-color-light-400: hsl(330, 0%, 91%);
    --cwctma-color-light-800: hsl(330, 0%, 85%);
    --cwctma-color-light-900: hsl(330, 0%, 80%);
    
    --cwctma-color-info: #{colors.$cyan2};
    --cwctma-color-warning: #{colors.$yellow2};

    --cwctma-color-text-light: var(--cwctma-color-light-900);
    --cwctma-color-text-dark: var(--cwctma-color-light-100);
}
html {
    background-color: var(--cwctma-color-light-100);
    color: var(--cwctma-color-text-primary);
}

@media print
{
    html {
        background-color: white;
        color: var(--cwctma-color-text-primary);
    }
}