@use '../base/colors';
@use '../functions';
html {
    scroll-behavior: smooth;
    background-color: var(--cwctma-color-light-100);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}
main {
    // padding-block: .75em;
    background-color: var(--cwctma-color-light-200);
    padding-block: calc(var(--cwctma-theme-border-radius) + .75rem);
    margin-block: calc(var(--cwctma-theme-border-radius) * -1);
    flex: 1 0 auto;
}

.w-100 {
    width: 100% !important;
}

@each $name, $color in $theme-colors {
    .text-#{$name} {
        color: var(--cwctma-color-#{$name});
    }
    a.text-#{$name}:hover {
        color: shade($color, 20%);
    }
}