@use '../base/colors';
@use '../functions';
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}
main {
    padding-block: .75em;
    flex: 1 0 auto;
}

.w-100 {
    width: 100% !important;
}

@each $name, $color in $theme-colors {
    .text-#{$name} {
        color: var(--cwctma-color-#{$name});
    }
    a.text-#{$name}:hover {
        color: shade($color, 20%);
    }
}