@media (prefers-color-scheme: dark) {
    // #region Coloring 
    :root {
        @for $i from 1 to 9 {
            --fp-theme-#{$i}00: var(--fp-theme-dark-#{$i}00);
        }
        
        @for $i from 1 to 9 {
            --fp-theme-neutral-#{$i}00: var(--fp-theme-light-#{$i}00);
        }
    }

    html {
        background-color: var(--fp-theme-700);
        color: var(--fp-theme-neutral-100);
    }
    section[background="dark"] {
        background-color: var(--fp-theme-800);
        color: var(--fp-theme-neutral-100);
    }
    // #endregion

    // #region Mobile view

    @each $name, $color in $theme-colors {
        .btn-#{$name} {
            &:hover,
            &:focus {
                color: var(--fp-theme-light-100);
                background-color: #{shade($color, 20%)};
            }
        }
        .btn-border-#{$name} {
            background-color: #{$dark-100}3b;
            &:hover,
            &:focus {
                color: var(--fp-theme-light-100);
                background-color: #{shade($dark-100, 20%)}3b;
            }
        }
    }
    .btn-border {
        background-color: #{$dark-100}3b;
        &:hover,
        &:focus {
            color: var(--fp-theme-light-100);
            background-color: #{shade($dark-100, 20%)}3b;
        }
    }

    // #endregion

    // #region Desktop view 
    @media (min-width: 40em) {
        
    }
    // #endregion
}