:root {
    --clr-primary-100: hsl(193.8,98%,25%);
    --clr-primary-200: hsl(193.8,98%,25%);
    --clr-primary-300: hsl(193.8,98%,25%);
    --clr-primary-400: hsl(193.8,98%,25%);
    --clr-primary-500: hsl(193.8,98%,25%);
    --clr-primary-600: hsl(193.8,98%,25%);
    --clr-primary-700: hsl(193.8,98%,25%);
    --clr-primary-800: hsl(193.8,98%,25%);
    --clr-primary-900: hsl(193.8,98%,25%);


    --clr-orange-100: hsl(15, 41%, 90%);
    --clr-orange-200: hsl(15, 41%, 80%);
    --clr-orange-300: hsl(15, 41%, 70%);
    --clr-orange-400: hsl(15, 41%, 60%);
    --clr-orange-500: hsl(15, 41%, 50%);
    --clr-orange-600: hsl(15, 41%, 40%);
    --clr-orange-700: hsl(15, 41%, 30%);
    --clr-orange-800: hsl(15, 41%, 20%);
    --clr-orange-900: hsl(15, 41%, 10%);
    
    --clr-yellow-100: hsl(48, 52%, 90%);
    --clr-yellow-200: hsl(48, 52%, 80%);
    --clr-yellow-300: hsl(48, 52%, 70%);
    --clr-yellow-400: hsl(48, 52%, 60%);
    --clr-yellow-500: hsl(48, 52%, 50%);
    --clr-yellow-600: hsl(48, 52%, 40%);
    --clr-yellow-700: hsl(48, 52%, 30%);
    --clr-yellow-800: hsl(48, 52%, 20%);
    --clr-yellow-900: hsl(48, 52%, 10%);

    --clr-blue-100: hsl(222, 63%, 90%);
    --clr-blue-200: hsl(222, 63%, 80%);
    --clr-blue-300: hsl(222, 63%, 70%);
    --clr-blue-400: hsl(222, 63%, 60%);
    --clr-blue-500: hsl(222, 63%, 50%);
    --clr-blue-600: hsl(222, 63%, 40%);
    --clr-blue-700: hsl(222, 63%, 30%);
    --clr-blue-800: hsl(222, 63%, 20%);
    --clr-blue-900: hsl(222, 63%, 10%);

    --clr-green-100: hsl(111, 74%, 90%);
    --clr-green-200: hsl(111, 74%, 80%);
    --clr-green-300: hsl(111, 74%, 70%);
    --clr-green-400: hsl(111, 74%, 60%);
    --clr-green-500: hsl(111, 74%, 50%);
    --clr-green-600: hsl(111, 74%, 40%);
    --clr-green-700: hsl(111, 74%, 30%);
    --clr-green-800: hsl(111, 74%, 20%);
    --clr-green-900: hsl(111, 74%, 10%);

    --clr-red-100: hsl(333, 85%, 90%);
    --clr-red-200: hsl(333, 85%, 80%);
    --clr-red-200: hsl(333, 85%, 70%);
    --clr-red-300: hsl(333, 85%, 60%);
    --clr-red-300: hsl(333, 85%, 50%);
    --clr-red-400: hsl(333, 85%, 40%);
    --clr-red-400: hsl(333, 85%, 30%);
    --clr-red-500: hsl(333, 85%, 20%);
    --clr-red-500: hsl(333, 85%, 10%);

    --clr-teal-100: hsl(187, 96%, 90%);
    --clr-teal-200: hsl(187, 96%, 80%);
    --clr-teal-300: hsl(187, 96%, 70%);
    --clr-teal-400: hsl(187, 96%, 60%);
    --clr-teal-500: hsl(187, 96%, 50%);
    --clr-teal-600: hsl(187, 96%, 40%);
    --clr-teal-700: hsl(187, 96%, 30%);
    --clr-teal-800: hsl(187, 96%, 20%);
    --clr-teal-900: hsl(187, 96%, 10%);

    --clr-neutral-100: hsl(0, 0%, 90%);
    --clr-neutral-200: hsl(0, 0%, 80%);
    --clr-neutral-300: hsl(0, 0%, 70%);
    --clr-neutral-400: hsl(0, 0%, 60%);
    --clr-neutral-500: hsl(0, 0%, 50%);
    --clr-neutral-200: hsl(0, 0%, 40%);
    --clr-neutral-300: hsl(0, 0%, 30%);
    --clr-neutral-400: hsl(0, 0%, 20%);
    --clr-neutral-500: hsl(0, 0%, 10%);
}