.alert {
    padding: 1em;
    margin: .25rem;
    border-radius: var(--border-radius);
    background-color: var(--fp-theme-300);
    color: var(--fp-theme-neutral-300);
}
@each $name, $color in $theme-colors {
    .alert-#{$name} {
        border-left: .4em solid #{$color};
    }
}