.btn {
    border-radius: .2rem;
    display: inline-block;
    padding: 0.5em 1.25em;
    color: var(--fp-theme-light-100);
    &:hover {
        color: var(--fp-theme-light-100);
    }
    &:focus {
        outline: 0;
    }
}
@each $name, $color in $theme-colors {
    .btn-#{$name} {
        background-color: #{$color};
        &:hover {
            color: var(--fp-theme-light-100);
            background-color: #{shade($color, 20%)};
        }
        &:focus {
            color: var(--fp-theme-light-100);
            background-color: #{shade($color, 40%)};
        }
    }
    .btn-border-#{$name} {
        border: .12em solid $color;
        background-color: #{$light-100}3b;
        &:hover {
            color: var(--fp-theme-light-100);
            background-color: #{shade($light-100, 20%)}3b;
        }
        &:focus {
            background-color: #{shade($light-100, 40%)}3b;
        }
    }
}
.btn-border {
    border: .12em solid var(--fp-theme-dark-500);
    background-color: #{$light-500}3b;
    &:hover {
        color: var(--fp-theme-light-100);
        background-color: #{shade($light-500, 20%)}3b;
    }
    &:focus {
        background-color: #{shade($light-500, 40%)}3b;
    }
}
.btn-glass-dark {
    background-color: #{$dark-500}3b;
    &:hover {
        color: var(--fp-theme-light-100);
        background-color: #{shade($dark-500, 20%)}3b;
    }
    &:focus {
        outline: 0;
        background-color: #{shade($dark-500, 40%)}3b;
    }
}
.btn-glass-light {
    background-color: #{$light-500}3b;
    &:hover,
    &:focus {
        color: var(--fp-theme-dark-100);
        background-color: #{shade($light-500, 20%)}3b;
    }
}
.btn-glass {
    background-color: #{$light-500}3b;
    &:hover,
    &:focus {
        color: var(--fp-theme-dark-100);
        background-color: #{shade($light-500, 20%)}3b;
    }
}