// #region Coloring 
a {
    color: var(--fp-theme-secondary-200);
}

a:hover,
a:active {
    color: var(--fp-theme-secondary-300);
}

section {
    color: var(--fp-theme-neutral-100);
}

section[background="light"] {
    background-color: var(--fp-theme-neutral-700);
    color: var(--fp-theme-100);
}

section[background="dark"] {
    background-color: var(--fp-theme-700);
}

section[background="primary"] {
    background-color: var(--fp-theme-primary-500);
}

section[background="secondary"] {
    background-color: var(--fp-theme-secondary-500);
}
// #endregion

// #region Mobile view 
.content {
    padding-block: .75em;
    flex: 1 0 auto;
}

a {
    font-size: 0.75rem;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    margin-block: 1em;
    padding: 1em .6em;
}

section p,
section blockquote {
    text-align: justify;
}
// #endregion

// #region Desktop view 
@media (min-width: 40em) {
    .container {
        width: 95%;
        max-width: 1000px;
        margin: 0 auto;
    }

    section {
        border-radius: .3rem;
        padding: 1em .6em;
    }
}
// #endregion
