@media (prefers-color-scheme: dark) {
    // #region Coloring 
    :root {
        --color-theme-100: var(--color-dark-100);
        --color-theme-300: var(--color-dark-300);
        --color-theme-500: var(--color-dark-500);
        --color-theme-700: var(--color-dark-700);
        --color-theme-800: var(--color-dark-800);
        --color-theme-900: var(--color-dark-900);
    }

    html {
        background-color: var(--color-theme-700);
        color: var(--color-neutral-100);
    }
    section[background="dark"] {
        background-color: var(--color-theme-800);
        color: var(--color-neutral-100);
    }
    // #endregion

    // #region Mobile view 

    // #endregion

    // #region Desktop view 
    @media (min-width: 40em) {
        
    }
    // #endregion
}