// #region Coloring 
footer {
    color: var(--fp-theme-neutral-100);
    background-color: var(--fp-theme-primary-700);
}

footer > .brand::after {
    content: '';
    display: block;
    background-image: url('https://cdn.czompisoftware.hu/img/8fbedeb93ec798c622117bf2bfe22abf51f68459/v1.0.0/czompi-logo-white.svg');
    background-size: 10em;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    padding-block: 1em;
    width: 100%;
    height: 4em;
}

footer > .brand:hover:after {
    filter: brightness(0) saturate(100%) invert(42%) sepia(86%) saturate(409%) hue-rotate(12deg) brightness(99%) contrast(104%);
}

footer > .brand:focus::after,
footer > .brand::after:focus,
footer > .brand:focus::after:focus {
    outline: 0;
    filter: brightness(0) saturate(100%) invert(14%) sepia(95%) saturate(1375%) hue-rotate(38deg) brightness(95%) contrast(97%);
}

footer > .license {
    color: var(--fp-theme-500);
    text-align: center;
    width: 100%;
}

footer > .license:hover,
footer > .license:active {
    color: var(--fp-theme-secondary-700);
}

footer > .social > a {
    color: var(--fp-theme-100);
}

footer > .social > a:hover,
footer > .social > a:active {
    color: var(--fp-theme-100);
}
footer > .copyright {
    background-color: var(--fp-theme-primary-900);
}
footer > .copyright > span {
    display: block;
}
// #endregion

// #region Mobile wiew 
footer {
    flex-shrink: 0;
}
footer > .social {
    font-size: small;
    text-align: center;
    display: block;
    padding-top: 3em;
    padding-bottom: 3em;
}

footer > .social > a {
    font-size: 2em;
    padding: .4em;
}

footer > .copyright {
    width: 100%;
    padding: .5em 0;
    font-size: small;
    text-align: center;
    display: block;
}
// #endregion

// #region Desktop wiew 
@media (min-width: 40em) {
    footer {
        display: block;
    }
    
    footer > .copyright > span {
        display: inline-block;
    }
    
    footer > .copyright > span:not(:last-of-type)::after {
        content: '|';
    }
}
// #endregion