
@each $name, $color in $theme-colors {
    input[type="text"].border-#{$name},
    input[type="email"].border-#{$name},
    input[type="password"].border-#{$name} {
        padding: .25rem;
        border-radius: var(--border-radius);
        border: .15em solid #{$dark-200}fa;
        border-bottom: .15em solid #{$color}fa;
        background-color: #{$dark-500}3b;
        color: var(--fp-theme-light-100);
        &:hover,
        &:focus {
            outline: 0;
            border: .15em solid #{shade($dark-200, 10%)}fa;
            border-bottom: .15em solid #{$color}ba;
            background-color: #{$dark-500}5b;
            color: var(--fp-theme-light-100);
        }
    }
}
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: .25rem;
    border-radius: var(--border-radius);
    border: .15em solid #{$dark-200}fa;
    border-bottom: .15em solid #{$primary}fa;
    background-color: #{$dark-500}3b;
    color: var(--fp-theme-light-100);
    &:hover,
    &:focus {
        outline: 0;
        border: .15em solid #{shade($dark-200, 10%)}fa;
        border-bottom: .15em solid #{$primary}ba;
        background-color: #{$dark-500}5b;
        color: var(--fp-theme-light-100);
    }
}