// #region Coloring
nav {
    background-color: var(--fp-theme-primary-500);
}

nav .nav-toggle,
nav .nav-logo,
nav .nav-item {
    color: var(--fp-theme-light-100);
}

nav .nav-toggle:hover::before,
nav .nav-toggle:focus::before {
    background: hsl(0 0% 0% / .1);
    color: var(--fp-theme-light-100);
}
nav .nav-toggle.active::before,
nav .nav-toggle:active::before {
    background: hsl(0 0% 0% / .2);
    color: var(--fp-theme-light-100);
}
nav .nav-item:active,
nav .nav-item.active,
nav .nav-item.active:hover {
    background-color: var(--fp-theme-primary-700);
    color: var(--fp-theme-light-100);
}
nav a.nav-item:hover,
nav a.nav-item:focus {
    background-color: var(--fp-theme-primary-700);
    color: var(--fp-theme-light-100);
}
// #endregion

// #region Mobile wiew
nav {
    display: block;
    /*border-radius: 0 0 .4em .4em;*/
}
nav .nav-toggle::before {
    content: '≡';
    position: absolute;
    right: 0;
    vertical-align: middle;
    font-size: 1.75em;
    padding-inline: .35em;
    padding-block: .075em;
}
nav .nav-toggle:hover::before,
nav .nav-toggle:focus::before {
    background: hsl(0 0% 0% / .1);
    border-radius: .2em;
}
nav .nav-toggle.active::before,
nav .nav-toggle:active::before {
    background: hsl(0 0% 0% / .2);
    border-radius: .2em;
}
nav .nav-logo {
    font-family: var(--ff-accent);
    text-align: center;
    font-size: larger;
    padding: .25em;
}

nav .nav-items {
    display: none;
}

nav .nav-items.open {
    display: block;
}

nav .nav-item {
    display: block;
    padding: 1em;
}
nav a.nav-item {
    text-decoration: none;
}
/*nav a.nav-item:first-of-type {
    border-radius: .4em .4em 0 0;
}
nav a.nav-item:last-of-type {
    border-radius: 0 0 .4em .4em;
}*/
nav a.nav-item:hover,
nav a.nav-item:focus {
    outline: 0;
}
// #endregion

// #region Desktop wiew
@media (min-width: 40em) {
/*@media (min-width: 0.1em) {*/ // TODO: Remove before use in production environment!
    nav {
        display: block;
    }
    nav .nav-toggle {
        display: none;
    }
    nav .nav-logo {
        text-align: left;
        display: inline-block;
    }
    nav .nav-items {
        display: inline-block;
    }
    nav .nav-items.open {
        display: inline-block;
    }
    nav .nav-item {
        align-self: flex-end;
        display: inline-block;
    }
}
// #endregion