a {
    color: var(--cwctma-color-theme-900);
    text-decoration: none;
    cursor: pointer;
}
a {
    color: var(--cwctma-color-complement-500);
}
.btn {
    border-radius: .5rem;
    padding: 1rem 4rem;
}