footer {
    // background-color: var(--cwctma-color-theme-200);
    flex-shrink: 0;
    color: var(--cwctma-color-white-900);
}

footer > .footer {
    --nav-radius: .5rem;
    background: var(--cwctma-color-theme-500);
    background: linear-gradient(0deg, var(--cwctma-color-theme-300) 0%, var(--cwctma-color-theme-500) 100%);
    box-shadow: 0 0 1rem var(--cwctma-color-theme-100);

    padding-block: 1rem;
    position: relative;
    border-radius: var(--nav-radius);
    
    margin-bottom: 1rem;
}

// #region Desktop wiew 
@media (min-width: 40em) {
    footer {
        display: block;
    }
    
    // footer > .copyright > span {
    //     display: inline-block;
    // }
    
    // footer > .copyright > span:not(:last-of-type)::after {
    //     content: '|';
    // }
}
// #endregion