footer {
    // background-color: var(--cwctma-color-theme-200);
    flex-shrink: 0;
    color: var(--cwctma-color-white-900);
}

footer .footer {
    --cwctma-theme-nav-radius: .5rem;
    background: var(--cwctma-theme-footer-background);
    // background: linear-gradient(0deg, var(--cwctma-color-theme-300) 0%, var(--cwctma-theme-footer-background) 100%);
    // box-shadow: 0 0 1rem var(--cwctma-color-theme-100);

    padding-block: 1rem;
    position: relative;
    // border-radius: var(--cwctma-theme-border-radius) var(--cwctma-theme-border-radius) 0 0;
    border-radius: var(--cwctma-theme-border-radius);
}

// #region Desktop wiew 
@media (min-width: 40em) {
    footer {
        display: block;
    }
    
    // footer > .copyright > span {
    //     display: inline-block;
    // }
    
    // footer > .copyright > span:not(:last-of-type)::after {
    //     content: '|';
    // }
}
// #endregion