
footer .copyright {
    background-color: var(--cwctma-color-theme-100);
    // color: var(--cwctma-color-black-900);
    color: var(--cwctma-color-text-white);
    width: 100%;
    padding: .5em 0;
    // margin-block-end: .5rem;
    font-size: small;
    text-align: center;
    display: block;
}