
footer .copyright {
    border-radius: 0 0 var(--cwctma-theme-border-radius) var(--cwctma-theme-border-radius);

    padding-block: calc(.5rem + var(--cwctma-theme-border-radius)) .5rem;
    margin-top: calc(0rem - var(--cwctma-theme-border-radius));
    background-color: var(--cwctma-theme-footer-darker);
    color: var(--cwctma-color-text-white);
    margin-block-end: .5rem;
    text-align: center;
    font-size: small;
    display: block;
    width: 100%;
    z-index: -1;
}