@font-face {
    font-family: "FluentSystemIcons-Regular";
    src: url("./FluentSystemIcons-Regular.ttf?776a7b1dbcd1ee97dc72ebfe37a1b93a") format("truetype");
}
@font-face {
    font-family: "FluentSystemIcons-Filled";
    src: url("./FluentSystemIcons-Filled.ttf?45b698a4dae346f54352fd96649cbc2c") format("truetype");
}