:root {
    --cwctma-theme-border-radius:                .5rem;
    
    --cwctma-theme-link-color:                   #C78200;
    --cwctma-theme-link-hover:                   #91630D;
    
    --cwctma-theme-nav-group-background:         #0d0d0d;
    --cwctma-theme-nav-group-hover:              #171717;
    --cwctma-theme-nav-group-active:             #0b3b7a;
    
    --cwctma-theme-nav-menu-background:          #0b3b7a;
    --cwctma-theme-nav-menu-hover:               #0d4691;
    --cwctma-theme-nav-menu-active:              #093063;
    
    --cwctma-theme-footer-background:            #0b3b7a;
    --cwctma-theme-footer-darker:                #093063;
}